<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>

<div class="navbar navbar-inverse bg-primary navbar-fixed-top" style="background-color: #002A86!important">
  <div class="container nav-logo">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="logo" src="assets/cashflow_logo.png"/><h1 style="font-family: 'Fjalla One', sans-serif;">PA Cash Flow<small>Follow the money trail around PA politics</small></h1></a>
    </div>
  </div>
  <button class="btn btn-outline-primary my-2 my-sm-0 top-btns" type="submit" (click)="getLocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control search-text" #search [formControl]="searchControl">
  </div>
  <button class="btn btn-outline-primary my-2 my-sm-0 top-btns" type="submit" (click)="redirect()">Search<i class="fa fa-search" aria-hidden="true"></i></button>

</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div style="height:700px;" id="map" >

    </div>
  </div>
  <!--<div class="col-sm-4 search-pane">-->
    <!--<form class="navbar-form" role="search" (click)="redirect()">-->
      <!--<div class="input-group add-on">-->
        <!--<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">-->
        <!--<div class="input-group-btn">-->
          <!--<button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
    <!--Text-->
  <!--</div>-->
</div>



